.nav {
  display: flex;
  flex-direction: column;
  height: calc(100vh - var(--navbar-height));
  transition:
    transform 500ms ease-in-out,
    opacity 500ms ease-in-out;
}

.showNav {
  transition: transform 500ms ease-in-out;
  transform: translateY(0%);
  overscroll-behavior: none !important;
  overflow: auto !important;
}

.hideNav {
  transform: translateY(calc(-100% - var(--navbar-height)));
}

@keyframes navHideAnimation {
  from {
    filter: blur(6rem);
    opacity: 0;
  }
  to {
    filter: blur(0rem);
    opacity: 1;
  }
}
